<div class="fixed left-0 right-0 top-0 flex h-16 items-center justify-between bg-primary px-10">
    <!-- LEFT -->
    <div class="flex items-center">
        <a routerLink="/journey"><img src="assets/logo.png" class="h-14" /></a>

        <!-- MENU -->
        <div class="ml-12 flex items-center space-x-3 md:hidden">
            <a
                class="inline-block cursor-pointer rounded-lg px-5 py-2 font-medium text-white/80"
                routerLinkActive="!bg-white !text-black/80"
                routerLink="/journey"
            >
                Journey
            </a>
            <a
                class="inline-block cursor-pointer rounded-lg px-5 py-2 font-medium text-white/80"
                routerLinkActive="!bg-white !text-black/80"
                routerLink="/company"
            >
                Company
            </a>
            <a
                class="inline-block cursor-pointer rounded-lg px-5 py-2 font-medium text-white/80"
                routerLinkActive="!bg-white !text-black/80"
                routerLink="/customer"
            >
                Customer
            </a>
        </div>
    </div>

    <!-- RIGHT -->
    <div class="flex items-center text-sm font-medium">
        <button
            *ngFor="let language of languages"
            class="border-r-2 border-white px-2 text-white/70 last:border-r-0"
            [ngClass]="{ '!text-white': language == currentLanguage }"
            (click)="onLanguageClick(language)"
        >
            {{ language | uppercase }}
        </button>
    </div>
</div>
