<div class="flex flex-1 flex-col space-y-4">
    <!-- TOP BAR -->
    <div class="space-y-1">
        <h2 class="text-2xl font-bold">{{ 'JourneyHeading' | translate }}</h2>
        <p class="text-sm text-gray-500">
            <span>{{ 'Txt.Home' | translate }}</span>
            <span> / </span>
            <span>{{ 'Txt.Journey' | translate }}</span>
            <span> / </span>
            <span>{{ 'Txt.New' | translate }}</span>
        </p>
    </div>

    <!-- WHTIE PANEL -->
    <form
        class="flex flex-1 flex-col overflow-hidden rounded-lg bg-white"
        #f="ngForm"
        (ngSubmit)="onSubmit(f)"
    >
        <div class="border-b px-8 py-4 text-xl font-medium">
            {{ 'Txt.NewJourneyInfo' | translate }}
        </div>
        <div class="mx-auto flex w-full max-w-[1500px] flex-1 items-start space-x-12 px-8 py-16">
            <!-- IMAGE -->
            <div class="w-[300px]">
                <div class="relative h-[300px] overflow-hidden rounded-md border bg-bg-input">
                    <img *ngIf="imagePreviewUrl" class="h-full w-full" [src]="imagePreviewUrl" />
                    <label
                        class="absolute inset-0 flex cursor-pointer items-center justify-center rounded-md border-primary text-gray-600 hover:border"
                        for="inputImage"
                    >
                        <svg
                            *ngIf="!imagePreviewUrl"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1"
                            stroke="currentColor"
                            class="h-16 w-16"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
                            />
                        </svg>
                    </label>
                    <input
                        id="inputImage"
                        type="file"
                        accept="image/jpeg, image/png, image/jpg"
                        class="hidden"
                        (change)="onSelectImage($event)"
                    />
                    <button
                        *ngIf="imagePreviewUrl"
                        class="absolute right-2 top-2 rounded-full bg-black/40 p-2 text-white hover:bg-black/50"
                        type="button"
                        (click)="onRemoveImage()"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="h-6 w-6"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6 18L18 6M6 6l12 12"
                            />
                        </svg>
                    </button>
                </div>
            </div>

            <!-- OTHER FORM -->
            <div class="grid-template-cols grid flex-1 gap-x-6 gap-y-6">
                <!-- NAME -->
                <span class="mt-3 font-bold text-gray-600">{{ 'Lb.Name' | translate }}</span>
                <div class="col-span-3">
                    <input
                        class="input w-full"
                        type="text"
                        name="name"
                        pInputText
                        [placeholder]="'Lb.Name' | translate"
                        [(ngModel)]="journeyForm.name"
                        required
                        #nameCtrl="ngModel"
                    />
                    <div class="mt-1 text-sm text-danger">
                        <span *ngIf="nameCtrl.touched && nameCtrl.errors?.['required']">
                            {{ 'Mess.Required' | translate: { field: 'Lb.Name' | translate } }}
                        </span>
                    </div>
                </div>

                <!-- DESCRIPTION -->
                <span class="font-bold text-gray-600">{{ 'Lb.Description' | translate }}</span>
                <div class="col-span-3">
                    <textarea
                        rows="5"
                        pInputTextarea
                        class="input w-full resize-none"
                        name="description"
                        [placeholder]="'Lb.Description' | translate"
                        [(ngModel)]="journeyForm.description"
                        required
                        #descriptionCtrl="ngModel"
                    ></textarea>
                    <div class="text-sm text-danger">
                        <span
                            *ngIf="descriptionCtrl.touched && descriptionCtrl.errors?.['required']"
                        >
                            {{
                                'Mess.Required' | translate: { field: 'Lb.Description' | translate }
                            }}
                        </span>
                    </div>
                </div>

                <!-- COUNTRY -->
                <span class="mt-3 font-bold text-gray-600">{{ 'Lb.Country' | translate }}</span>
                <div>
                    <p-dropdown
                        styleClass="input w-full"
                        [placeholder]="'Lb.Country' | translate"
                        optionValue="id"
                        optionLabel="name"
                        [autoDisplayFirst]="false"
                        [showClear]="true"
                        name="country"
                        [options]="countries"
                        [(ngModel)]="journeyForm.countryId"
                        (onChange)="onChangeCountry($event)"
                        [required]="true"
                        #countryCtrl="ngModel"
                    ></p-dropdown>
                    <div class="mt-1 text-sm text-danger">
                        <span *ngIf="countryCtrl.touched && countryCtrl.errors?.['required']">
                            {{ 'Mess.Required' | translate: { field: 'Lb.Country' | translate } }}
                        </span>
                    </div>
                </div>

                <!-- PLACE -->
                <span class="mt-3 text-right font-bold text-gray-600">{{
                    'Lb.Place' | translate
                }}</span>
                <div>
                    <p-multiSelect
                        styleClass="input w-full"
                        [options]="places"
                        [(ngModel)]="journeyForm.placeIds"
                        optionLabel="name"
                        optionValue="id"
                        [placeholder]="'Txt.SelectPlace' | translate"
                        name="places"
                        [filter]="false"
                    ></p-multiSelect>
                    <div class="mt-1 text-sm text-danger"></div>
                </div>

                <!-- START DATE -->
                <span class="mt-3 font-bold text-gray-600">{{ 'Lb.StartDate' | translate }}</span>
                <div>
                    <p-calendar
                        styleClass="w-full"
                        inputStyleClass="input"
                        [showClear]="true"
                        name="startDate"
                        [(ngModel)]="journeyForm.startDate"
                        [required]="true"
                        (ngModelChange)="onChangeStartOrEndDateChange()"
                        #startDateCtrl="ngModel"
                    ></p-calendar>
                    <div class="mt-1 text-sm text-danger">
                        <span *ngIf="startDateCtrl.touched && startDateCtrl.errors?.['required']">
                            {{ 'Mess.Required' | translate: { field: 'Lb.StartDate' | translate } }}
                        </span>
                    </div>
                </div>

                <!-- END DATE -->
                <span class="mt-3 text-right font-bold text-gray-600">{{
                    'Lb.EndDate' | translate
                }}</span>
                <div>
                    <p-calendar
                        styleClass="w-full"
                        inputStyleClass="input"
                        [showClear]="true"
                        name="endDate"
                        [(ngModel)]="journeyForm.endDate"
                        (ngModelChange)="onChangeStartOrEndDateChange()"
                        #endDateCtrl="ngModel"
                        appAfterDateValidator="startDate"
                    ></p-calendar>
                    <div class="mt-1 text-sm text-danger">
                        <span *ngIf="endDateCtrl.touched && endDateCtrl.errors?.['afterDate']">
                            {{ 'Mess.EndDateGreaterThanStartDate' | translate }}
                        </span>
                    </div>
                </div>

                <!-- CURRENCY -->
                <span class="mt-3 font-bold text-gray-600">{{ 'Lb.Currency' | translate }}</span>
                <div>
                    <p-dropdown
                        styleClass="input w-full"
                        [placeholder]="'Txt.SelectCurrency' | translate"
                        optionValue="id"
                        optionLabel="name"
                        [showClear]="true"
                        [autoDisplayFirst]="false"
                        name="currency"
                        [options]="currencies"
                        [(ngModel)]="journeyForm.currencyId"
                        #currencyCtrl="ngModel"
                    ></p-dropdown>
                </div>

                <!-- AMOUNT -->
                <span class="mt-3 text-right font-bold text-gray-600">{{
                    'Lb.Amount' | translate
                }}</span>
                <div>
                    <p-inputNumber
                        class="!w-full"
                        styleClass="!w-full"
                        inputStyleClass="input !w-full"
                        name="amount"
                        [(ngModel)]="journeyForm.amount"
                        #amountCtrl="ngModel"
                    ></p-inputNumber>
                </div>

                <!-- DURATION -->
                <span class="mt-3 font-bold text-gray-600">{{ 'Lb.Duration' | translate }}</span>
                <div class="flex items-start justify-between space-x-4">
                    <div>
                        <div class="flex items-center space-x-3">
                            <p-inputNumber
                                styleClass="w-[60px]"
                                inputStyleClass="input !w-full"
                                name="durationDay"
                                [(ngModel)]="journeyForm.durationDay"
                                [greaterThanValidator]="0"
                                durationMatchDateValidator
                                startDateName="startDate"
                                endDateName="endDate"
                                #durationDayCtrl="ngModel"
                            ></p-inputNumber>
                            <span class="whitespace-nowrap font-bold text-gray-600">
                                {{ 'Lb.day' | translate }} (s)
                            </span>
                        </div>
                        <div class="mt-1 text-sm text-danger">
                            <span
                                *ngIf="
                                    durationDayCtrl.touched &&
                                    durationDayCtrl.errors?.['greaterThan']
                                "
                            >
                                {{ 'Mess.GreaterThanZero' | translate }}
                            </span>
                            <span
                                *ngIf="
                                    durationDayCtrl.touched && durationDayCtrl.errors?.['matchDate']
                                "
                            >
                                {{ 'Mess.DayNotMatchDate' | translate }}
                            </span>
                        </div>
                    </div>
                    <div>
                        <div class="flex items-center space-x-3">
                            <p-inputNumber
                                styleClass="w-[60px]"
                                inputStyleClass="input !w-full"
                                name="durationNight"
                                [(ngModel)]="journeyForm.durationNight"
                                [greaterThanValidator]="0"
                                durationValidator="durationDay"
                                durationMatchDateValidator
                                startDateName="startDate"
                                endDateName="endDate"
                                #durationNightCtrl="ngModel"
                            ></p-inputNumber>
                            <span class="whitespace-nowrap font-bold text-gray-600"
                                >{{ 'Lb.night' | translate }} (s)</span
                            >
                        </div>
                        <div class="mt-1 text-sm text-danger">
                            <span
                                *ngIf="
                                    durationNightCtrl.touched &&
                                    durationNightCtrl.errors?.['greaterThan']
                                "
                            >
                                {{ 'Mess.GreaterThanZero' | translate }}
                            </span>
                            <span
                                *ngIf="
                                    durationNightCtrl.touched &&
                                    durationNightCtrl.errors?.['durationDistance']
                                "
                            >
                                {{ 'Mess.ValueIsInvalid' | translate }}
                            </span>
                            <span
                                *ngIf="
                                    durationNightCtrl.touched &&
                                    durationNightCtrl.errors?.['matchDate']
                                "
                            >
                                {{ 'Mess.NightNotMatchDate' | translate }}
                            </span>
                        </div>
                    </div>
                </div>

                <!-- STATUS -->
                <span class="mt-3 text-right font-bold text-gray-600">{{
                    'Lb.Status' | translate
                }}</span>
                <div>
                    <p-dropdown
                        styleClass="input w-full"
                        name="status"
                        [options]="allStatus"
                        [(ngModel)]="journeyForm.status"
                    ></p-dropdown>
                </div>
            </div>
        </div>
        <div class="flex justify-end space-x-3 border-t px-8 py-4">
            <p-button
                styleClass="p-button-text btn !font-medium !px-8 !text-gray-600"
                [label]="'Btn.Cancel' | translate"
                routerLink="/"
            ></p-button>
            <p-button
                styleClass="btn btn-primary !px-8 "
                [label]="'Btn.Create' | translate"
                type="submit"
            ></p-button>
        </div>
    </form>
</div>
