<div class="flex flex-1 flex-col space-y-4">
    <!-- TOP BAR -->
    <div class="flex items-center justify-between">
        <div class="space-y-1">
            <h2 class="text-2xl font-bold">Journey</h2>
            <p class="text-sm text-gray-500">Home / Journey</p>
        </div>
        <p-button styleClass="btn btn-green !px-8" label="New journey"></p-button>
    </div>

    <!-- WHTIE PANEL -->
    <div class="flex-1 rounded-lg bg-white px-10 py-8">
        <!-- SEARCH INPUT GROUP -->
        <form class="flex items-end space-x-8">
            <div class="grid flex-1 grid-cols-[auto_1fr_auto_1fr_auto_1fr_auto_1fr] gap-6 gap-x-4">
                <!-- SEARCH -->
                <div class="col-span-6">
                    <span class="p-input-icon-left w-full">
                        <i class="pi pi-search px-2"></i>
                        <input
                            class="input w-full !pl-10"
                            type="text"
                            name="search"
                            pInputText
                            placeholder="Search by Name, Description"
                            [(ngModel)]="filterQueryForm.search"
                        />
                    </span>
                </div>

                <!-- STATUS -->
                <span class="ml-6 flex items-center justify-end font-bold text-gray-600">
                    Status
                </span>
                <p-dropdown
                    styleClass="input w-full"
                    placeholder="Select status"
                    [options]="allStatus"
                    [(ngModel)]="filterQueryForm.status"
                    [showClear]="true"
                    name="status"
                ></p-dropdown>

                <!-- COUNTRY -->
                <span class="flex items-center font-bold text-gray-600">Country</span>
                <p-dropdown
                    styleClass="input w-full"
                    placeholder="Select country"
                    optionValue="id"
                    optionLabel="name"
                    [showClear]="true"
                    [options]="countries"
                    [(ngModel)]="filterQueryForm.countryId"
                    name="country"
                ></p-dropdown>

                <!-- CURRENCY -->
                <span class="ml-6 flex items-center justify-end font-bold text-gray-600">
                    Currency
                </span>
                <p-dropdown
                    styleClass="input w-full"
                    placeholder="Select currency"
                    optionValue="id"
                    optionLabel="name"
                    [showClear]="true"
                    [options]="currencies"
                    [(ngModel)]="filterQueryForm.currencyId"
                    name="currency"
                ></p-dropdown>

                <!-- AMOUNT FROM -->
                <div class="ml-6 flex items-center justify-end space-x-4">
                    <span class="font-bold text-gray-600">Amount</span>
                    <span class="text-gray-600">From</span>
                </div>
                <p-inputNumber
                    styleClass="!w-full"
                    inputStyleClass="input !w-full"
                    name="amountFrom"
                    [(ngModel)]="filterQueryForm.amountFrom"
                ></p-inputNumber>

                <!-- AMOUNT TO -->
                <span class="ml-6 flex items-center justify-end text-gray-600">To</span>
                <p-inputNumber
                    styleClass="!w-full"
                    inputStyleClass="input !w-full"
                    name="amountTo"
                    [(ngModel)]="filterQueryForm.amountTo"
                ></p-inputNumber>

                <!-- START DATE FROM -->
                <div class="flex items-center space-x-4">
                    <span class="font-bold text-gray-600">Start date</span>
                    <span class="text-gray-600">From</span>
                </div>
                <p-calendar
                    styleClass="w-full"
                    inputStyleClass="input"
                    [showClear]="true"
                    name="startDateFrom"
                    [(ngModel)]="filterQueryForm.startDateFrom"
                ></p-calendar>

                <!-- START DATE TO -->
                <span class="ml-6 flex items-center justify-end text-gray-600">To</span>
                <p-calendar
                    styleClass="w-full"
                    inputStyleClass="input"
                    [showClear]="true"
                    name="startDateTo"
                    [(ngModel)]="filterQueryForm.startDateTo"
                ></p-calendar>

                <!-- END DATE FROM -->
                <div class="ml-6 flex items-center justify-end space-x-4">
                    <span class="font-bold text-gray-600">End date</span>
                    <span class="text-gray-600">From</span>
                </div>
                <p-calendar
                    styleClass="w-full"
                    inputStyleClass="input"
                    [showClear]="true"
                    name="endDateFrom"
                    [(ngModel)]="filterQueryForm.endDateFrom"
                ></p-calendar>

                <!-- END DATE TO -->
                <span class="ml-6 flex items-center justify-end text-gray-600">To</span>
                <p-calendar
                    styleClass="w-full"
                    inputStyleClass="input"
                    [showClear]="true"
                    name="endDateTo"
                    [(ngModel)]="filterQueryForm.endDateTo"
                ></p-calendar>
            </div>

            <!-- Button group -->
            <div class="flex space-x-3">
                <p-button
                    styleClass="btn btn-primary"
                    label="Search"
                    (onClick)="onFilter()"
                ></p-button>
                <p-button
                    styleClass="p-button-outlined btn-outline"
                    label="Reset"
                    (onClick)="onResetFilter()"
                ></p-button>
            </div>
        </form>

        <!-- TABLE -->
        <div class="mt-16">
            <div class="relative min-h-[200px]">
                <p-table [value]="journeys" [(selection)]="selectedJourneys" dataKey="id">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 4rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Country</th>
                            <th class="!text-center">Start date</th>
                            <th class="!text-center">End date</th>
                            <th>Currency</th>
                            <th class="!text-right">Amount</th>
                            <th class="!text-center">Status</th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-journey>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="journey"></p-tableCheckbox>
                            </td>
                            <td
                                class="max-w-[150px] overflow-hidden text-ellipsis whitespace-nowrap"
                            >
                                {{ journey.name }}
                            </td>
                            <td
                                class="max-w-[280px] overflow-hidden text-ellipsis whitespace-nowrap"
                            >
                                {{ journey.description }}
                            </td>
                            <td class="whitespace-nowrap">
                                <div class="space-x-2">
                                    <span
                                        class="fi"
                                        [ngClass]="'fi-' + journey.country.code"
                                    ></span>
                                    <span>{{ journey.country.name }}</span>
                                </div>
                            </td>
                            <td class="whitespace-nowrap !text-center">
                                {{ journey.startDate | date: 'dd.MM.YYY' }}
                            </td>
                            <td class="whitespace-nowrap !text-center">
                                {{ journey.endDate | date: 'dd.MM.YYY' }}
                            </td>
                            <td>{{ journey.currency.name }}</td>
                            <td class="!text-right">
                                {{ journey.amount | number: '1.0-0' }}
                            </td>
                            <td class="whitespace-nowrap !text-center">
                                <app-status-badge [status]="journey.status"></app-status-badge>
                            </td>
                            <td>
                                <div class="flex justify-center space-x-3">
                                    <button class="text-primary hover:text-primary/80">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            strokeWidth="{1.5}"
                                            stroke="currentColor"
                                            class="h-6 w-6"
                                        >
                                            <path
                                                strokeLinecap="round"
                                                strokeLinejoin="round"
                                                d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
                                            />
                                        </svg>
                                    </button>
                                    <button class="text-danger hover:text-danger/80">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            fill="none"
                                            viewBox="0 0 24 24"
                                            stroke-width="1.5"
                                            stroke="currentColor"
                                            class="h-6 w-6"
                                        >
                                            <path
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                                            />
                                        </svg>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div
                    *ngIf="journeys.length === 0"
                    class="flex flex-col items-center space-y-2 py-5 text-danger"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-12 w-12"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"
                        />
                    </svg>

                    <p class="text-lg font-medium text-gray-700">No journey found!</p>
                </div>
                <div
                    *ngIf="loading"
                    class="absolute inset-0 flex items-center justify-center bg-white/50"
                >
                    <p-progressSpinner
                        styleClass="w-10 h-10"
                        animationDuration=".7s"
                    ></p-progressSpinner>
                </div>
            </div>
            <div class="flex items-center justify-end">
                <p class="text-gray-500">
                    Showing {{ (page - 1) * 5 }} to {{ (page - 1) * 5 + journeys.length }} of
                    {{ totalRecords }} entries
                </p>
                <p-paginator
                    (onPageChange)="onPageChange($event)"
                    [rows]="5"
                    [totalRecords]="totalRecords"
                    [first]="(page - 1) * 5"
                ></p-paginator>
            </div>
        </div>
    </div>
</div>
