@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        @apply bg-bg;
    }
    body {
        font-family: 'Roboto', sans-serif;
    }
}

@layer components {
    .btn {
        @apply !rounded-md !border-none focus:!shadow-none;
    }
    .btn.btn-primary {
        @apply !bg-primary hover:!bg-primary/90;
    }
    .btn.btn-green {
        @apply !bg-green-light hover:!bg-emerald-500;
    }
    .btn.btn-danger {
        @apply !bg-danger hover:!bg-danger/80;
    }
    .btn-outline {
        @apply !border-none !text-gray-700 !ring-1 !ring-primary;
    }
    .input {
        @apply !rounded-md !bg-bg-input focus-within:!shadow-none;
    }
    .input.ng-invalid.ng-touched {
        @apply !border-danger;
    }
    .ng-invalid.ng-touched:not(form) .input {
        @apply !border-danger;
    }
}
