@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font-family);
}

@layer components {
    .btn {
        @apply !rounded-md !border-none focus:!shadow-none;
    }
    .btn-primary {
        @apply !bg-primary hover:!bg-primary/90;
    }
    .input {
        @apply !bg-bg-input;
    }
}
